<style>

    table th {
        background-color:#efefef;
        padding:4px;
    }

    table td {
        padding:4px;
    }

</style>
<h2>Timesheet for ${data['start'].strftime("%m-%d-%Y")} to ${data['end'].strftime("%m-%d-%Y")}</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Hours</th>
        </tr>
    </thead>
    <tbody>

    % for username,info in data['consultants'].iteritems():
    <tr>
        <td>${info['info']['last_name']}, ${info['info']['first_name']}</td>
        <td>${"{:.2f}".format(float(info['total_hours_for_dev']))}</td>
    </tr>
    % endfor
    </tbody>
</table>
