<h2>Report: ${data['report']}</h2>
<div style="display:block;padding:5px;margin:5px;background-color:#efefef">
    <ul>
        <li>2 week avg. velocity does not take into account sprints - it's just the last 2 weeks starting from the day the report was generated and going back 14 days.</li>
        <li>Sprint metrics are based on the currently active sprint</li>
        <li>Completed refers to any story that entered into one of these statuses in the last X weeks: <em>Ready For Integration</em>,<em>Resolved</em></li>
    </ul>
</div>

<table>
    <tr>
        <th>Team Name</th>
        <th colspan="2">Current Sprint</th>
        <th colspan="2">Avg. Velocities</th>
        <th># Engineers</th>
        <th>History</th>
    </tr>
    <tr>
        <td></td>
        <td>Total Story Points</td>
        <td>% Complete</td>
        <td>2 Week Team Avg. Velocity</td>
        <td>2 Week Engineer Avg. Velocity</td>
        <td colspan="2"></td>
    </tr>
    % for team in data['teams']:
    <tr>
        <td>${team['team_info']['full']}</td>
        <td style="background-color:#efedce;border-right:3px;">${team['sprint']['total_points']}</td>
        <td style="background-color:#efedce;border-right:3px;">${"{0:.2f}".format(team['sprint']['percent_complete'])}%</td>
        <td>${team['velocity']['avg_team_velocity']}</td>
        <td>${"{0:.2f}".format(team['velocity']['avg_engineer_velocity'])}</td>
        <td>${team['num_engineers']}</td>
        <td><a href="${team['velocity']['graph_url']}" target="_blank">Graph</a></td>
    </tr>
    % endfor
</table>
